.site-footer,
.site-footer * {
  box-sizing: border-box;
}
.site-footer {
  background: var(--semantic-color-primary-primary-container, #92c482);
  padding: var(--semantic-padding-padding-11, 40px)
    var(--semantic-padding-padding-29, 200px)
    var(--semantic-padding-padding-11, 40px)
    var(--semantic-padding-padding-29, 200px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 314px;
  position: relative;
}
.div {
  display: flex;
  flex-direction: column;
  gap: var(--semantic-gap-gap-08, 24px);
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.o-container {
  display: flex;
  flex-direction: column;
  gap: var(--semantic-gap-gap-08, 24px);
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo-mep-engineering-1-1 {
  flex-shrink: 0;
  width: 83px;
  height: 32px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 83/32;
}
.capa-1 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.frame-7 {
  display: flex;
  flex-direction: column;
  gap: var(--semantic-gap-gap-02, 4px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.calle-diego-l-lorente-40 {
  color: var(--semantic-color-primary-on-primary-container, #356028);
  text-align: center;
  font-family: var(
    --cactus-body-medium-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--cactus-body-medium-font-size, 14px);
  line-height: var(--cactus-body-medium-line-height, 20px);
  font-weight: var(--cactus-body-medium-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.los-palacios-y-villafranca {
  color: var(--semantic-color-primary-on-primary-container, #356028);
  text-align: center;
  font-family: var(
    --cactus-body-medium-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--cactus-body-medium-font-size, 14px);
  line-height: var(--cactus-body-medium-line-height, 20px);
  font-weight: var(--cactus-body-medium-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._41720-sevilla {
  color: var(--semantic-color-primary-on-primary-container, #356028);
  text-align: center;
  font-family: var(
    --cactus-body-medium-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--cactus-body-medium-font-size, 14px);
  line-height: var(--cactus-body-medium-line-height, 20px);
  font-weight: var(--cactus-body-medium-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.isos-1024-x-195-1 {
  flex-shrink: 0;
  width: 296px;
  height: 56px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 296/56;
}
.o-container2 {
  display: flex;
  flex-direction: row;
  gap: var(--semantic-gap-gap-12, 40px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.o-container3 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.sobre-mep-engineering {
  color: var(--semantic-color-primary-on-primary-container, #356028);
  text-align: center;
  font-family: var(
    --cactus-title-medium-emphasis-font-family,
    "Ubuntu-Bold",
    sans-serif
  );
  font-size: var(--cactus-title-medium-emphasis-font-size, 16px);
  line-height: var(--cactus-title-medium-emphasis-line-height, 24px);
  font-weight: var(--cactus-title-medium-emphasis-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.o-container4 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ingenier-a-con-visi-n-de-futuro {
  color: var(--semantic-color-primary-on-primary-container, #356028);
  text-align: center;
  font-family: var(
    --cactus-label-large-font-family,
    "Ubuntu-Medium",
    sans-serif
  );
  font-size: var(--cactus-label-large-font-size, 14px);
  line-height: var(--cactus-label-large-line-height, 20px);
  font-weight: var(--cactus-label-large-font-weight, 500);
  text-decoration: underline;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nosotros {
  color: var(--semantic-color-primary-on-primary-container, #356028);
  text-align: center;
  font-family: var(
    --cactus-label-large-font-family,
    "Ubuntu-Medium",
    sans-serif
  );
  font-size: var(--cactus-label-large-font-size, 14px);
  line-height: var(--cactus-label-large-line-height, 20px);
  font-weight: var(--cactus-label-large-font-weight, 500);
  text-decoration: underline;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lineas-de-negocio {
  color: var(--semantic-color-primary-on-primary-container, #356028);
  text-align: center;
  font-family: var(
    --cactus-title-medium-emphasis-font-family,
    "Ubuntu-Bold",
    sans-serif
  );
  font-size: var(--cactus-title-medium-emphasis-font-size, 16px);
  line-height: var(--cactus-title-medium-emphasis-line-height, 24px);
  font-weight: var(--cactus-title-medium-emphasis-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.energia {
  color: var(--semantic-color-primary-on-primary-container, #356028);
  text-align: center;
  font-family: var(
    --cactus-label-large-font-family,
    "Ubuntu-Medium",
    sans-serif
  );
  font-size: var(--cactus-label-large-font-size, 14px);
  line-height: var(--cactus-label-large-line-height, 20px);
  font-weight: var(--cactus-label-large-font-weight, 500);
  text-decoration: underline;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.agua {
  color: var(--semantic-color-primary-on-primary-container, #356028);
  text-align: center;
  font-family: var(
    --cactus-label-large-font-family,
    "Ubuntu-Medium",
    sans-serif
  );
  font-size: var(--cactus-label-large-font-size, 14px);
  line-height: var(--cactus-label-large-line-height, 20px);
  font-weight: var(--cactus-label-large-font-weight, 500);
  text-decoration: underline;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.industria {
  color: var(--semantic-color-primary-on-primary-container, #356028);
  text-align: center;
  font-family: var(
    --cactus-label-large-font-family,
    "Ubuntu-Medium",
    sans-serif
  );
  font-size: var(--cactus-label-large-font-size, 14px);
  line-height: var(--cactus-label-large-line-height, 20px);
  font-weight: var(--cactus-label-large-font-weight, 500);
  text-decoration: underline;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infraestructuras {
  color: var(--semantic-color-primary-on-primary-container, #356028);
  text-align: center;
  font-family: var(
    --cactus-label-large-font-family,
    "Ubuntu-Medium",
    sans-serif
  );
  font-size: var(--cactus-label-large-font-size, 14px);
  line-height: var(--cactus-label-large-line-height, 20px);
  font-weight: var(--cactus-label-large-font-weight, 500);
  text-decoration: underline;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grupo {
  color: var(--semantic-color-primary-on-primary-container, #356028);
  text-align: center;
  font-family: var(
    --cactus-title-medium-emphasis-font-family,
    "Ubuntu-Bold",
    sans-serif
  );
  font-size: var(--cactus-title-medium-emphasis-font-size, 16px);
  line-height: var(--cactus-title-medium-emphasis-line-height, 24px);
  font-weight: var(--cactus-title-medium-emphasis-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mep-facilities {
  color: var(--semantic-color-primary-on-primary-container, #356028);
  text-align: center;
  font-family: var(
    --cactus-label-large-font-family,
    "Ubuntu-Medium",
    sans-serif
  );
  font-size: var(--cactus-label-large-font-size, 14px);
  line-height: var(--cactus-label-large-line-height, 20px);
  font-weight: var(--cactus-label-large-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mep-canada {
  color: var(--semantic-color-primary-on-primary-container, #356028);
  text-align: center;
  font-family: var(
    --cactus-label-large-font-family,
    "Ubuntu-Medium",
    sans-serif
  );
  font-size: var(--cactus-label-large-font-size, 14px);
  line-height: var(--cactus-label-large-line-height, 20px);
  font-weight: var(--cactus-label-large-font-weight, 500);
  text-decoration: underline;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-6 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.contacto {
  color: var(--semantic-color-primary-on-primary-container, #356028);
  text-align: center;
  font-family: var(
    --cactus-title-medium-emphasis-font-family,
    "Ubuntu-Bold",
    sans-serif
  );
  font-size: var(--cactus-title-medium-emphasis-font-size, 16px);
  line-height: var(--cactus-title-medium-emphasis-line-height, 24px);
  font-weight: var(--cactus-title-medium-emphasis-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.con-cenos {
  color: var(--semantic-color-primary-on-primary-container, #356028);
  text-align: center;
  font-family: var(
    --cactus-label-large-font-family,
    "Ubuntu-Medium",
    sans-serif
  );
  font-size: var(--cactus-label-large-font-size, 14px);
  line-height: var(--cactus-label-large-line-height, 20px);
  font-weight: var(--cactus-label-large-font-weight, 500);
  text-decoration: underline;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
